{% if app.user %}
    <li class="nav-item dropdown{% if app.request.get('_route') in [
        'user_notification',
        'user_notification_paginated',
    ] %} active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserNotification" data-user-mercure-url="https://bubble.lgbt/user/{{ app.user.slug }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="{{ include('@User/notification/_ico.html.twig', with_context = false) }}"></i>
            <span class="badge badge-user-notification-unread badge-{% if 0  == count_user_notification_unread() %}secondary{% else %}danger{% endif %}">
                {{ count_user_notification_unread() }}
            </span>
        </a>
        <div class="dropdown-menu notification-list" aria-labelledby="navbarDropdownUserNotification">
            {% set notifications = user_notification() %}
            {% if notifications.results is not empty %}
                {% for notification in notifications.results %}
                    {{ include('@User/notification/_notification.html.twig',
                        {
                            'notification': notification,
                            'is_navbar': true,
                        },
                        with_context = false
                    ) }}
                {% endfor %}
                <a href="{{ path('user_notification') }}" class="dropdown-item">
                    {{ 'action.user.notification'|trans({}, 'user') }}
                </a>
            {% else %}
                <span class="dropdown-item">
                    {{ 'user.notification.not_found'|trans({}, 'user') }}
                </span>
            {% endif %}
        </div>
    </li>
{% endif %}