{% if notification.__text is defined %}
    {% set attr = {
        'class': 'border-' ~ notification.__color ~ ' user-notification' ~ (is_navbar is defined ? ' dropdown-item'),
        'data-user-notification-id': notification.id,
        'data-user-notification-read': notification is user_notification_read ? 'true': 'false',
        'data-paginator-item-id': notification.id,
    } %}
    {% if is_navbar is defined and notification.__link is defined %}
        <a href="{{ notification.__link }}"{% for attrname, attrvalue in attr %}{% if attrvalue is not same as(false) %} {{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}>
    {% elseif is_navbar is defined %}
        <span{% for attrname, attrvalue in attr %}{% if attrvalue is not same as(false) %} {{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}>
    {% elseif notification.__link is defined %}
        <li{% for attrname, attrvalue in attr %}{% if attrvalue is not same as(false) %} {{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}>
            <a href="{{ notification.__link }}">
    {% else %}
        <li{% for attrname, attrvalue in attr %}{% if attrvalue is not same as(false) %} {{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}>
    {% endif %}
        <time class="badge badge-dark" datetime="{{ notification.createdAt|date('Y-m-d') }}T{{ notification.createdAt|date('H:i:s') }}.000Z">
            {{ notification.createdAt|format_time('short') }} :
        </time>
        {{ notification.id }}
        {{ notification.__text|raw }}
    {% if is_navbar is defined and notification.__link is defined %}
        </a>
    {% elseif is_navbar is defined %}
        </span>
    {% elseif notification.__link is defined %}
            </a>
        </li>
    {% else %}
        </li>
    {% endif %}
{% endif %}